.widget
  display block
  width 100%
  height 100%
  text-align center

  h3
    font-size 5.5em
    margin 0
    padding .6em 0 0 0
    line-height 1

    &.position
      font-size 1.7em
      padding-top 1em

      &.latitude
        padding-top .2em

  h4
    margin 0
    padding 0
    font-size 1em
    line-height 1
    font-weight normal

  &.large
    h3
      font-size 13em
      padding-top .45em

      &.position
        font-size 7em

        &.latitude
          padding-top .2em

    h4
      font-size 1.5em

  &.small
    h3
      font-size 4.2em
      padding-top 1em

      &.position
        font-size 2.3em

        &.longitude
          padding-top 1.5em

        &.latitude
          padding-top .2em
          padding-bottom .2em

    h4
      font-size .8em
