nav.navbar
  display block
  position fixed
  bottom 0
  left 0
  width 100%
  height 130px
  background-color white
  border-top 3px solid black

  a.button
    display inline-block
    width 130px
    height 130px
    line-height 130px
    border-right 3px solid black
    text-align center
    font-size 50px

    &.right
      position absolute
      top 0
      right 0
      border-right none
      border-left 3px solid black

    &.active
      background-color black
      color white

    .fa.rotate
      transform rotate(180deg)
      -webkit-transform rotate(180deg)

  &.inversed
    background-color black
    border-color white

    a.button
      background-color black
      color white
      border-color white

      &.active
        background-color #999
        color black
