.page-wrapper
  display block
  width 100%
  height 100%
  overflow hidden
  background-color white

  .widget-wrapper
    display block
    width 100%
    height 100%
    border-right 3px solid black
    border-bottom 3px solid black

  &.inversed
    background-color black
    color white

    .widget-wrapper
      border-right 3px solid white
      border-bottom 3px solid white


